Source: ros-jade-openrtm-aist
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), automake, cmake, doxygen, libltdl-dev, libomniorb4-dev, libtool, libtool-bin, omniidl, omniorb, omniorb-nameserver, pkg-config, uuid-dev
Homepage: http://ros.org/wiki/openrtm_aist
Standards-Version: 3.9.2

Package: ros-jade-openrtm-aist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libomniorb4-dev, omniidl, omniorb, omniorb-nameserver, ros-jade-catkin, uuid-dev
Description: This package represents OpenRTM-aist that's built within ROS eco system. Although being ROS-agnostic by itself, you can use this via ROS together with the packages in rtmros_common that bridge between two framework. OpenRTM-aist is an RT-Middleware-baseed, component-oriented software platform to robotics development that is made and maintained in AIST (National Institute of Advanced Industrial Science and Technology) in Japan (excerpts from here) Its development is happening at openrtm.org/pub/OpenRTM-aist. The repository listed below is where the development of its ROS wrapper happening.
